body {
    left: 0px;
    top: 0px;
    margin: 0px;
}


/* INICIO HEADER */

.header {
    background-color: #0145ac;
    color: white;
    width: 100%;
    height: 70px;
    left: 0px;
    top: 0px;
}

.header .parte-header {
    width: 33%;
    float: left;
    font-size: 120%;
}

.header .parte-header li {
    list-style: none;
    float: left;
    display: block;
    padding: 4% 8%;
    font-family: 'Abel', sans-serif;
}

.header .titulo-header li {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 180%;
    padding: 2% 31%;
}

.header .parte-ultima li {
    padding: 4% 15%;
}

.header {
    background-color: #1d1b31;
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0s ease;
}

.header .header-content {
    width: 90%;
    height: auto;
    /* background-color: lightcoral; */
}

.header .nome-empresa {
    color: #fff;
    font-size: 30px;
}

.header .ow {
    color: #fff;
    font-size: 20px;
}

.header .header-content .container-name {
    width: 70%;
    float: left;
}

.header .header-content .container-option {
    width: 30%;
    float: left;
}

.header .header-content .container-option select {
    height: 35px;
    padding: 0% 20%;
    margin: 0% 10%;
}

.alertas-content {
    width: 100%;
    height: auto;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 25px;
}

.alertas-content .box-alerta {
    width: 255px;
    height: 205px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: whitesmoke;
    margin: auto;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.alertas-content .box-alerta .quant-numero {
    font-size: 30px;
}

.alertas-content .box-alerta .info-alerta {
    font-size: 16px;
}


/* FIM DO HEADER */


/* INICIO FOOTER */

.footer {
    font-family: 'Abel', sans-serif;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #f4f4f4;
    background-color: #002459;
}

.parte-um {
    width: 100%;
    height: 200px;
    padding: 0% 25%;
}

.parte-um .coluna {
    width: 25%;
    float: left;
    padding: 20px 0px;
}

.titulo-coluna {
    color: white;
    font-weight: bold;
    list-style: none;
}

.coluna li {
    list-style: none;
}

.texto-cor {
    font-weight: bold;
}

.parte-dois {
    border-top: 1px solid white;
    height: 60px;
    width: 100%;
    padding: 10px 0px;
}

.copyright {
    text-align: center;
    width: 80%;
    color: white;
    float: left;
}

.redes-sociais {
    width: 20%;
    float: left;
}

.parte-dois .redes-sociais .icones-redes {
    background-color: white;
    border-radius: 50px;
    border: white;
    width: 50px;
    height: 50px;
    margin: 0px 5px;
}

.redes-sociais .icones-redes .logos {
    width: 40px;
    height: 40px;
}

/* FIM DO FOOTER */

@media (max-width: 842px) {
    .alertas-content{
        margin: 10000px;
    }
}