@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap%27');
*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Oxygen';
    background-image: url("../img/Margem2.png");
    background-color: rgba(10, 2, 39, 0.904);
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    
}

.container { 
    width: 80%;
    margin: auto;
}

.verde{
    color: #1DCF01;
}

.cinza{
    color: #A5A5A5;
}

.imagens{
    width: 18vw;
    height: 35vh;
    float: left;
}

.titulo-vantagens{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 8%;
}

.centro-imagens{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 8%;
    color:white;
}

.imagem-texto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 26px;
}

.imagem-esquerda{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.imagem-centro{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.imagem-direita{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.div-button{
    display: flex;
    justify-content: center;
    margin: auto;
}
.btn-link-cadastro{
    text-decoration: none;
    color:#ffffff;
    background: #001D48;
    border: 1.15638px solid #225B9E;
    box-sizing: border-box;
    box-shadow: 5.78189px 5.78189px 0px #1DCF01;
    width: 17%;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
a:visited{
    text-decoration: none;
    color:rgba(255, 255, 255, 0.77);;
}