@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: rgb(131, 128, 128);
}

.container{
    display: flex;
    justify-content: center;
    background-color: rgb(240, 232, 232);
    width: 90%;
    border-radius: 12px;
}
.teste{
    display: flex;
    justify-content: center;
}

.dashboard {
    width: 90%;    
    height: auto;
}

.graficos{
    width: 100%;
}

.alertas-content{
    width: 100%;
    height: auto;
    /* background-color: aqua; */
    display: flex;
     align-items: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 25px; 
    
}

.alertas-content .box-alerta{
    width: 255px;
    height: 400px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: whitesmoke;
    margin: auto;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}


.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 78px;
    background: #11101d;
    padding: 6px 14px;
    transition: all 0.5s ease;
    z-index: 5;
}

.sidebar.active {
    width: 240px;
}

.sidebar .logo-content .logo {
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.sidebar.active .logo-content .logo {
    opacity: 1;
    pointer-events: none;
}

.logo-content .logo img {
    height: 28px;
    width: 28px;
    font-size: 28px;
    margin-right: 20px;
}

.logo-content .logo .nome-logo {
    font-size: 20px;
    font-weight: 400;
}

.sidebar #btn {
    position: absolute;
    color: #fff;
    top: 6px;
    left: 50%;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}

.sidebar.active #btn {
    left: 90%;
}

.sidebar ul {
    margin-top: 20px;
}

.sidebar ul li {
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
}

.sidebar ul li .dica {
    position: absolute;
    left: 122px;
    top: 0;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    height: 35px;
    width: 122px;
    background: #fff;
    line-height: 35px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
}

.sidebar.active ul li .dica {
    display: none;
}

.sidebar ul li:hover .dica {
    transition: all 0.5s ease;
    opacity: 1;
    top: 50%;
}

.sidebar ul li input {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 12px;
    outline: none;
    border: none;
    background: #1d1b31;
    padding-left: 50px;
    font-size: 18px;
    color: #fff;
}

.sidebar ul li .bx-search-alt {
    position: absolute;
    z-index: 99;
    color: #fff;
    font-size: 22px;
    transition: all 0.5s ease;
}

.sidebar ul li .bx-search-alt:hover {
    background: #fff;
    color: #1d1b31;
}

.sidebar ul li a {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
    white-space: nowrap;
}

.sidebar ul li a:hover {
    color: #11101d;
    background: #fff;
    z-index: 5;
}

.sidebar ul li i {
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.sidebar .links {
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.sidebar.active .links {
    opacity: 1;
    pointer-events: auto;
}

.sidebar .perfil-content {
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
}

.sidebar .perfil-content .perfil {
    position: relative;
    padding: 10px 6px;
    height: 60px;
    background: none;
    transition: all 0.4s ease;
}

.sidebar.active .perfil-content .perfil {
    background: #1d1b31;
}

.perfil-content .perfil .icone-perfil {
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}

.sidebar.active .perfil .icone-perfil {
    opacity: 1;
    pointer-events: auto;
}

.perfil .icone-perfil img {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 12px;
}

.perfil .icone-perfil .cargo {
    margin-left: 10px;
}

.perfil .icone-perfil .nome {
    font-size: 15px;
    font-weight: 400
}

.perfil .icone-perfil .trabalho {
    font-size: 12px;
}

.perfil #logout {
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 12px;
    text-align: center;
    transition: all 0.4s ease;
    background: #1d1b31;
}

.sidebar.active .perfil #logout {
    left: 88%;
    background: none;
}

.home-content {
    position: absolute;
    height: 100%;
    width: calc(100% - 78px);
    left: 78px;
    transition: all 0.5s ease;
}

.sidebar.active~.home-content {
    left: 240px;
    width: calc(100% - 240px);
    transition: all 0.5s ease;
}

.home-content .text {
    font-size: 25px;
    font-weight: 500;
    color: #1d1b31;
    margin: 12px;
}


/* CSS corpo Dashboard */

.header {
    background-color: #1d1b31;
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0s ease;
}

.header .header-content {
    width: 90%;
    height: auto;
    /* background-color: lightcoral; */
}

.header .nome-empresa {
    color: #fff;
    font-size: 30px;
}

.header .ow {
    color: #fff;
    font-size: 20px;
}

.header .header-content .container-name {
    width: 70%;
    float: left;
}

.header .header-content .container-option {
    width: 30%;
    float: left;
}

.header .header-content .container-option select {
    height: 35px;
    padding: 0% 20%;
    margin: 0% 10%;
}

.alertas-content {
    width: 100%;
    height: auto;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 25px;
}

.alertas-content .box-alerta {
    width: 255px;
    height: 400px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: whitesmoke;
    margin: auto;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.alertas-content .box-alerta .quant-numero {
    font-size: 30px;
}

.alertas-content .box-alerta .info-alerta {
    font-size: 25px;
}

.container-dados {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 25px;
    display: grid;
    grid-template-columns: 3fr 1.35fr;
    grid-template-rows: 205px 200px;
    grid-template-areas: "gcpu h" "gram h" "gdisco h";
    grid-gap: 20px 10px;
}

.container-dados .grafico-um {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    grid-area: gcpu;
}

.container-dados .grafico-dois {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    grid-area: gram;
}

.container-dados .grafico-tres {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    grid-area: gdisco;
}


/* arrumar após */

.home-content .alertas-content .box-alerta #duguichuki {
    display: flex;
    width: 200px !important;
    height: 200px !important;
}


/* Registration */

.registration-form {
    height: 336.5px;
    width: 46%;
    background-color: white;
    padding: 2%;
    margin: 1.5%;
    border-radius: 12px;
    float: left;
}

.registration-form input {
    width: 100%;
    height: 35px;
}

.registration-form select {
    width: 100%;
    height: 35px;
}

.registration-form .password-input {
    width: 50%;
    float: left;
}

.registration-form .input-space {
    padding: 0% 1.5% 0% 0%;
}

.registration-form .registration-button {
    margin: 1.5% 0%;
    padding: 1% 10%;
    font-weight: bolder;
    font-size: 100%;
}

.registration-list {
    height: 336.5px;
    background-color: white;
    padding: 2%;
    margin: 1.5%;
    border-radius: 12px;
    float: left;
    width: 46%;
    overflow-y: auto;
}

.user {
    background-color: rgb(218, 218, 218);
    padding: 4px;
    border-radius: 5px;
}

.user .name-user {
    padding: 0% 30% 0% 0%;
    font-weight: bolder;
}

.user .edit-button-user {
    background-color: limegreen;
    border: black 2px solid;
    width: 100px;
    font-size: 15px;
    font-weight: bolder;
    padding: 0.5% 5%;
}

.user .delete-button-user {
    background-color: red;
    width: 100px;
    border: black 2px solid;
    font-size: 15px;
    font-weight: bolder;
    padding: 0.5% 5%;
}

.user .delete-button-user:hover {
    background-color: rgb(197, 2, 2);
    transition: 2s;
    cursor: pointer;
}

.user .edit-button-user:hover {
    background-color: rgb(10, 153, 10);
    transition: 2s;
    cursor: pointer;
}

.divider {
    width: 100%;
}

@media screen and (max-width: 1120px) {
    .alertas-content {
        width: 100%;
        height: 70% !important;
        display: flex;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
    }
    .box-alerta {
        width: 255px;
        height: 400px;
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: whitesmoke;
        border-radius: 12px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
}

@media (max-width: 608px) {
    .alertas-content {
        width: 100%;
        height: 145% !important;
        display: flex;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
    }
    .box-alerta {
        width: 100%;
        height: 100%;
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: whitesmoke;
        border-radius: 12px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
}

@media screen and (max-width: 1190px) {
    .container-dados {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 25px;
        display: grid;
        grid-template-columns: 4fr 1.35fr;
        grid-template-rows: 205px 200px;
        grid-template-areas: "gcpu gcpu" "gram gram" "gdisco gdisco" "h h";
        grid-gap: 20px 10px;
    }
    .grafico-um {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: whitesmoke;
        border-radius: 12px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        grid-area: gram;
    }
    .grafico-dois {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: whitesmoke;
        border-radius: 12px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        grid-area: gram;
    }
    .grafico-tres {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: whitesmoke;
        border-radius: 12px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        grid-area: gdisco;
    }
}

@media screen and (max-width: 1360px) {
    .nome-empresa {
        font-size: 27px !important;
    }
    .ow {
        font-size: 15px !important;
    }
}

@media screen and (max-width: 842px) {
    #servidor.box-alerta{
        margin-bottom: 5vh;
    }
}